@font-face {
    font-family:'ailerons';
    src:url('../fonts/ailerons-typeface-webfont.eot');
    src:url('../fonts/ailerons-typeface-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
        url('../fonts/ailerons-typeface-webfont.woff') format('woff'),
        url('../fonts/ailerons-typeface-webfont.ttf') format('truetype'),
        url('../fonts/ailerons-typeface-webfont.svg#aileronsregular') format('svg');
    font-weight:normal;
    font-style:normal;
}
