body {
    background:#130f1d;
    color:$purple-light;
    font-family:'Rajdhani',sans-serif;
    font-size:13px;
    text-align:center;
    letter-spacing:0.05em;
}

.wrapper {
    position:relative;
    width:800px;
    margin:0 auto;

    .line {
        position:absolute;
        top:0;
        width:1px;
        height:100%;
        background:#fff;
        opacity:0.05;

        &.line-left {
            left:0;
        }
        &.line-middle {
            left:50%;
            margin-left:-1px;
        }
        &.line-right {
            right:0;
        }
    }
}

.arrows-title {
    display:inline-block;
    font-family:'ailerons';
    font-size:20px;

    .arrows {
        display:inline-block;

        span {
            position:relative;
            top:-3px;
            display:inline-block;
            width:4px;
            height:9px;
            margin:0 3px 0 0px;
            opacity:0;
            transition:all 0.5s;
            background:url('../img/arrow.png');
            @include image-2x('../img/arrow@2x.png', 4px, 9px);
        }

        &.left {
            margin-right:16px;

            span {
                transform:translateX(-10px) rotate(0deg) translateZ(0);

                &:nth-child(1) {
                    transition-delay:0.3s;
                }
                &:nth-child(2) {
                    transition-delay:0.2s;
                }
                &:nth-child(3) {
                    transition-delay:0.1s;
                }
            }
        }
        &.right {
            margin-left:16px;

            span {
                transform:translateX(10px) rotate(180deg) translateZ(0);

                &:nth-child(1) {
                    transition-delay:0.1s;
                }
                &:nth-child(2) {
                    transition-delay:0.2s;
                }
                &:nth-child(3) {
                    transition-delay:0.3s;
                }
            }
        }
    }
    &.b-unveil-100-100 {
        .arrows {
            &.left {
                span {
                    opacity:1;
                    transform:translateX(0px) rotate(0deg) translateZ(0);
                }
            }
            &.right {
                span {
                    opacity:1;
                    transform:translateX(0px) rotate(180deg) translateZ(0);
                }
            }
        }
    }
}

p {
    line-height:22px;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    a {
        position:relative;
        color:$orange;
        text-decoration:none;
        text-shadow:0px 0px 2px $orange;
        transition:text-shadow 1s;

        &:after {
            content:'';
            position:absolute;
            right:0;
            bottom:-1px;
            left:0;
            height:3px;
            border-bottom:1px solid $orange;
            text-shadow:0px 0px 2px $orange;
            transform:scaleX(0) translateZ(0);
            transform-origin:0 0;
            transition:transform 0.15s;
        }
        &:hover {
            &:after {
                transform:scaleX(1) translateZ(0);
            }
        }
    }
}
a {
    &.framed {
        display:inline-block;
        min-width:110px;
        height:30px;
        border:1px solid $purple-light;
        text-align:center;
        text-decoration:none;
        line-height:29px;
        text-transform:uppercase;
        transition:color 0.15s,border-color 0.3s;

        &:hover {
            // color:$orange;
            border-color:$orange;
        }
    }
}
.b-unveil {
    opacity:0;
    transition:opacity 1s;

    &.b-unveil-100-100 {
        opacity:1;
    }
}
