footer
    a.scroll-top(href="#")
        span
            | Scroll top
    each item in who.social
        - var classes = "item " + item.slug
        a(class=classes,href=item.link,target="_blank")
            +svg(item.slug)
            //- .title= item.title
