header.header.no-select
    canvas
    .fallback
    .title
        h1
            span
                | Bruno Simon
        h2
            span
                | Creative developer
    a.scroll(href="#")
