mixin arrows_title(title)
    h3.arrows-title.b-unveil
        span.arrows.left
            span
            span
            span
        | #{title}
        span.arrows.right
            span
            span
            span
