.back-to-site {display:block;position:fixed;bottom:0;left:0;height:60px;padding:0 30px 0 42px;line-height:60px;background:#fff;z-index:9999;font-family:Helvetica,Arial;text-decoration:none;color:#ffa800;font-size:12px;text-transform:uppercase;-webkit-font-smoothing:antialiased;}
.back-to-site.dark {background:#222;}
.back-to-site i:after {content:"←";position:relative;top:-1px;left:-18px;}
