html,body {margin:0;padding:0;overflow-x:hidden;}
body {margin:0;padding:0;font-family:'Amatic SC',cursive; font-family: 'Abel', sans-serif;color:#444;font-size:20px;overflow-x:hidden;}

#canvas {position:fixed;top:0;left:0;}
.content {position:relative;padding:10% 50% 10% 10%;z-index:1;}
.content h1 {position:relative;left:-5px;font-weight:bold;font-size:70px;margin-bottom:20px;}
.content h2 {font-size:30px;margin:40px 0 20px 0;}
.content p {line-height:1.4em;margin-bottom:1em;font-size:16px;}
.content a {text-decoration:none;color:#FF7000;}
.content a:hover {text-decoration:underline;}

.gradient {
    position:fixed;top:0;right:0;bottom:0;left:0;background:red;
    background: -moz-linear-gradient(-75deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,0) 73%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left, right, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(255,255,255,1)), color-stop(73%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-75deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(105deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 100%); /* W3C */
}

@media only screen and (max-width:768px) {
    .content {padding:10%;text-align:center;}
    #canvas {display:none;}
    .gradient {display:none;}
}
