section.projects {
    .arrows-title {
        margin:50px 0 28px 0;
    }
    article.project {
        position:relative;
        left:1px;
        width:calc(100% - 2px);
        height:380px;
        margin:0 0 30px 0;

        .details {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            width:260px;
            padding:60px 0 0 0;
            text-align:left;
            font-size:9px;

            .background {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                background:linear-gradient(to right, rgba(#130f1d,1) 30%,rgba(#130f1d,0) 100%);
            }
            .num {
                position:relative;
                font-size:13px;
                color:$orange;
                text-shadow:0px 0px 2px $orange;
                line-height:11px;
            }
            .title {
                position:relative;
                margin:0 0 30px 0;
                font-size:13px;
                text-transform:uppercase;
                line-height:11px;
            }
            .separator {
                display:block;
                position:relative;
                width:100%;
                height:1px;
                margin:0 0 30px 0;
                background:linear-gradient(to right, rgba(#fff,0.05) 0%,rgba(#fff,0) 100%);
            }
            .infos {
                position:relative;
                margin:0 0 40px 0;

                .info {
                    margin:0 0 8px 0;
                    padding-right:60px;
                }
                .label {
                    color:$orange;
                    text-shadow:0px 0px 2px $orange;
                }
                .value {
                    text-transform:uppercase;
                }
                a.value {
                    text-decoration:none;

                    &:hover {
                        text-decoration:underline;
                    }
                }
            }
            .discover {
                position:relative;
            }
        }
        .carousel {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;

            .content {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                overflow:hidden;

                .items,
                .item,
                .picture {
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    overflow:hidden;
                }
            }
            .pagination {
                position:absolute;
                right:0;
                bottom:0;
                left:0;
                height:40px;
                background:rgba(#130f1d,0.7);
                text-align:center;
                opacity:0;
                transform:translateY(20px);
                transition:all 0.3s cubic-bezier(0.75, 0, 1, 0.35);

                .items {
                    display:inline-block;
                    height:100%;
                }
                .item {
                    position:relative;
                    display:inline-block;
                    width:20px;
                    height:100%;
                    opacity:0.5;
                    transition:opacity 0.15s;

                    &:after {
                        content:'';
                        display:block;
                        position:absolute;
                        top:50%;
                        left:50%;
                        width:6px;
                        height:6px;
                        margin:-3px 0 0 -3px;
                        border:1px solid #fff;
                    }
                    &.active,
                    &:hover {
                        opacity:1;
                    }
                }
            }
        }
        &:nth-child(odd) {
            .details {
                right:0;
                left:auto;
                text-align:right;
            }
            .background {
                background:linear-gradient(to left, rgba(#130f1d,1) 30%,rgba(#130f1d,0) 100%);
            }
            .infos {
                .info {
                    padding-right:0;
                    padding-left:60px;
                }
            }
        }
        &:hover {
            .carousel {
                .pagination {
                    opacity:1;
                    transform:translateY(0px);
                    transition:all 0.3s cubic-bezier(0, 0.75, 0.35, 1);
                }
            }
        }
    }
}
