doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
        meta(name="description",content=general.description)

        title= general.title

        link(rel="apple-touch-icon", sizes="57x57", href="src/img/icons/apple-touch-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="src/img/icons/apple-touch-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="src/img/icons/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="src/img/icons/apple-touch-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="src/img/icons/apple-touch-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="src/img/icons/apple-touch-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="src/img/icons/apple-touch-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="src/img/icons/apple-touch-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="src/img/icons/apple-touch-icon-180x180.png")
        link(rel="icon", type="image/png", href="src/img/icons/favicon-32x32.png", sizes="32x32")
        link(rel="icon", type="image/png", href="src/img/icons/android-chrome-192x192.png", sizes="192x192")
        link(rel="icon", type="image/png", href="src/img/icons/favicon-96x96.png", sizes="96x96")
        link(rel="icon", type="image/png", href="src/img/icons/favicon-16x16.png", sizes="16x16")
        link(rel="manifest", href="src/img/icons/manifest.json")
        link(rel="mask-icon", href="src/img/icons/safari-pinned-tab.svg", color="#5bbad5")

        meta(name="apple-mobile-web-app-title", content="Bruno Simon")
        meta(name="application-name", content="Bruno Simon")
        meta(name="msapplication-TileColor", content="#da532c")
        meta(name="msapplication-TileImage", content="src/img/icons/mstile-144x144.png")
        meta(name="theme-color", content="#ffffff")

        link(rel="stylesheet",href="src/css/style.css")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Rajdhani:500")

        script(src="src/js/libs/modernizr-custom.js")
    body
        include ./partials/_header.jade

        .wrapper
            .lines
                .line.line-left
                .line.line-middle
                .line.line-right
            include ./partials/_who_am_i.jade
            include ./partials/_works.jade
            include ./partials/_lab.jade
            include ./partials/_footer.jade

        script(src="src/js/script.js")

